-
  const pages = {
    ucm: 'うちまガチャ',
    penisis: '創性器',
    oooo: 'オ゛ォ゛ッ゛オ゛ォ゛ッ゛'
  };

mixin navbar(thisUrl)
  section.hero
    .hero-head
      header.nav
        .container
          .nav-left
            a.nav-item(href='/') ♨
          span#nav-toggle.nav-toggle
            span
            span
            span
          #nav-menu.nav-menu.nav-right
            each name, url in pages
              if url == thisUrl
                a.nav-item.is-tab.is-active(href=`/${url}`)= name
              else
                a.nav-item.is-tab(href=`/${url}`)= name
