mixin visibility-select(name, visibility)
  - const list = ['public', 'unlisted', 'private'];
  span.select
    select(name=`${name}`)
      each vis in list
        option(selected= vis==visibility)= vis
