{
  "extends": "eslint:recommended",
  "plugins": [],
  "parserOptions": {},
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {},
  "rules": {
    "no-unsafe-finally": "off",
    "no-native-reassign": "off",
    "complexity": ["off", 11],
    "comma-dangle": "error",
    "require-yield": "error",
    "no-unused-vars": ["error", {"argsIgnorePattern": "next"}]
  }
}
