extends layout

block title
  title ♨ | Page not found

append styles


block body
  +navbar('error')
  section.hero.is-light.is-bold.is-fullheight
    .hero-body
      .container
        h1.title.is-1 Page not found
        h2.subtitle.is-2= error.status
