extends layout

block title
  title ♨

append styles

block body
  +navbar('index')
  section.hero.is-dark.is-bold
    .hero-body
      .columns
        .column.is-offset-1.is-5
          h1.title.is-1 ♨ app
          h2.subtitle.is-2 うちまガチャ以外は準備中
          p
            a.button.is-large.is-danger(href='/auth', role='button') え、承認どこ？
          p ※書き込み権限をいただきます。
        .column.is-half
          figure.image.is-square
            img(src='/images/onsen.png')
