extends layout
include components/visibility-select

block title
  title ♨ | うちまガチャ

append styles

block body
  +navbar('ucm')
  section.hero.is-primary.is-bold
    .hero-body
      .columns
        .column.is-offset-1.is-5
          h1.title.is-1 うちまガチャ
          h2.subtitle.is-2 うんこちんこまんこ
          form(action='/ucm/post', method='post')
            .field
              p.control
                +visibility-select('visibility', visibility)
            .field.is-grouped
              p.control
                button.button.is-large.is-info(type='submit', name='num', value='1') 1回ガチャ
              p.control
                button.button.is-large.is-warning(type='submit', name='num', value='10') 10連ガチャ
              p.control
                button.button.is-large.is-danger(type='submit', name='num', value='40') 40連ガチャ
        .column.is-half
          figure.image.is-square
            img(src='/images/onsen.png')

append scripts